#innerFrame {
   display: inline-block;
   /* width: 90vw; */
}

#gantt{
   display: inline-block;
   /* height: 84vh; */
   float: left;

}
#sideTap{
   display: inline-block;
   float: left;
   min-width: 25vh;
   max-width: 25vw;
   margin-left: 50px;
}

#sideTap .table > *{
   vertical-align: middle;
}

#sideTap .table th{
   height: 59px;
   padding : 0px;
   padding-left : 10px;
   /* font-size: 14px; */
   background-color: #ffffff;
   vertical-align: middle;
}

#sideTap .table td{
   margin: 0;
   padding : 0;
   /* padding-right : 20px; */
   /* padding-left : 20px; */
   height: 48px;
   border-bottom: 2px solid rgba(0, 0, 0, .1);
   vertical-align: middle;
   font-size : 14px;
   background-color: white;

}

#sideTap .table td span{
   font-size : 18px;
   font-weight: bold;

}

#addTaskBtn, .addIssueBtn{
      float: right;
      /* background-color: #339933; */
      display: inline;
      margin: 0;
}


textarea {
   width: 100%;
   resize: none;
   overflow-y: hidden; /* prevents scroll bar flash */
   padding: 0.5em; /* prevents text jump on Enter keypress */
   line-height: 1.6;
}

#taskDetailModal_tNotiName{
   display: inline-block;
   min-width: 200px;
   min-height: 16px;
}

#projectDetailModal_pName{
   display: inline-block;
   min-width: 200px;
   min-height: 16px;
}

#viewMode{
   /* margin-left: 50px; */
 display: inline-block;
 float: right;
 margin-top: 50px;
}

#gantt_fav{

}

.material-icons.md-30{
   font-size : 45px;
   vertical-align: bottom;
   cursor: pointer;
}

#IssueDetailModal_cmContent{
  /* display: inline-block; */
  float: right;
  width: 80%;
}

#IssueDetailModal_cmBtn{
   float: right;
}

#gantt_nameForm{
   display: inline-block;
   font-size: 45px;
   font-weight: bold;
   margin-bottom: 20px;
}

#gantt_top{
   /* margin-left: 50px; */
   text-align: center;
}

.gantt_icon{
   margin-left: 5px;
   margin-right: 5px;
   display: inline-block;
   border : 2px solid #339933;
   color : #339933;
   border-radius: 15%;
   width: 30px;
   height: 30px;
   text-align: center;
   vertical-align: middle;
   font-size: 20px;
   font-weight: lighter;
}

#IssueDetailModal_iStartDate_div, #IssueDetailModal_iEndDate_div,
#projectDetailModal_pStartDate_div, #projectDetailModal_pEndDate_div,
#taskDetailModal_tStartDate_div, #taskDetailModal_tEndDate_div{
   width: 50%;
   margin: auto;
}

#IssueDetailModal_iStartDate_div, #projectDetailModal_pStartDate_div, #taskDetailModal_tStartDate_div{
   float: left;
}

#IssueDetailModal_iEndDate_div, #projectDetailModal_pEndDate_div, #taskDetailModal_tEndDate_div{
   float: right;
}

#IssueDetailModal_iEndDate_div h4 i, #projectDetailModal_pEndDate_div h4 i{
   margin-left: 15px;
}

#IssueDetailModal_iStartDate, #IssueDetailModal_iEndDate,
#projectDetailModal_pStartDate, #projectDetailModal_pEndDate,
#taskDetailModal_tStartDate, #taskDetailModal_tEndDate{
   float: left;
   width: 319px;
}
#IssueDetailModal_iEndDate, #projectDetailModal_pEndDate{
  margin-left: 15px;
}
#IssueDetailModal_iDscr{
  width : 100%;
}

#IssueDetailModal_iDscrForm{
  margin-top: 80px;
}

#IssueDetailModal_iDscrBtn{
  margin-top: 10px;

}

#IssueDetailModal_addCheckListForm{
  margin-top: 20px;

}

.modal-body.flex{
   display: flex;
   flex-wrap: wrap; // allow wrapping items
}

#IssueDetailModal_left{
   flex-grow: 1;
   flex-basis: 75%;
}

#IssueDetailModal_right{
   flex-grow: 1;
   flex-basis: 25%;
   background-color: rgba(0, 0, 0, .1);
   border-radius: 10px;
}

.modal-content{
   width: 700px;
}

.material-icons.modal_icon{
	font-size: 25px;
	vertical-align: middle;
}

.hover{
	cursor : pointer;
}

#checkListName{
  display: inline-block;
  float: left;
  width : 86.2%;
  margin-bottom: 20px;
}

#checkListNameForm{
  margin-top: 20px;
}

#addCheckListBtn{
  float: left;
  margin-left: 5px;
  background-color: rgba(33, 99, 33, .7);
  color: white;
}

.checkList{
  display: inline-block;
  float: left;
  width : 100%;
}

#commentDiv{
  margin-top: 10px;
  float: left;
  width: 100%;
}

.IssueDetailModal_nickname{
  display:inline-block;
  vertical-align: bottom;
  max-width: 12%;
  min-width: 12%;
  /* font-size: 16px; */
  /* font-style: bold; */
}

.IssueDetailModal_nickname span{
  vertical-align: bottom;

  font-size: 18px;
  font-weight: bold;
}
.material-icons.newTask{
  font-size: 30px;
  color : #5da0c1;
}

.material-icons.newIssue{
  font-size: 30px;
  color : #ea73af;
}

.addCheckListItemFormBtn, .deleteCheckListBtn{
  background-color: rgba(33, 99, 33, .7);
  color : white;
}

.deleteCheckListBtn{
  margin-left: 5px;
}

.checkListItem{
  display: inline-block;
  margin-bottom: 3px;
  width: 100%;
}

#addCheckListItemName{
  /* display: block; */
  /* margin-top: 20px; */
  /* margin-left: 50px; */
  width: 85%;
  float: right;
}

#addCheckListItemBtn, #addCheckListItemCancelBtn, #IssueDetailModal_cmBtn,
.IssueDetailModal_deleteCmBtn, #commentArea .IssueDetailModal_reCmFormBtn, #commentArea .IssueDetailModal_reCmConfirmBtn, #commentArea .IssueDetailModal_reCmCancleBtn{
  display: inline-block;
  /* margin-top: 20px; */
  float: right;
  margin-left: 5px;
  margin-top: 2px;
  background-color: rgba(33, 99, 33, .7);
  color : white;

}

#addCheckListItemBtn:hover, #addCheckListItemCancelBtn:hover, #IssueDetailModal_cmBtn:hover,
#commentArea .IssueDetailModal_reCmFormBtn:hover, .IssueDetailModal_deleteCmBtn:hover{
  background-color: rgba(33, 99, 33, 1);
  color : white;
}

#checkListList .checkList .addCheckListItemFormBtn:hover, #checkListList .checkList .deleteCheckListBtn:hover{
  background-color: rgba(33, 99, 33, 1);
  color : white;
}

.addCheckListItemForm_inner{
  margin-top: 10px;
}

.deleteCheckListItemBtn{
  background-color: rgba(33, 99, 33, .7);
  color : white;
  /* float: right; */
  /* margin-top: 2px; */
}

.tap{
  margin-left: 20px;
}

u{
  font-weight: bold;
  font-size: 18px;
}

#viewMode #radio_month{
  height: 15px;
  width : 20%;
  top : 3px;
}
#viewMode #radio_week{
  height: 15px;
  width : 20%;
  top : 3px;
}
#viewMode #radio_day{
  height: 15px;
  left : 5px;
  top : 3px;
}

#viewMode label{
  font-weight: bold;
}

.commentArea_comment{
  margin-top: 20px;
  margin-bottom: 24px;
}

.IssueDetailModal_reCmFormBtn{
  float: right;
}

.form-control.IssueDetailModal_cmContentData{
  display: inline-block;
  float: right;
  width: 415px;
}

.form-control.IssueDetailModal_cmContentData_re{
  display: inline-block;
  float: right;
  width: 415px;
}

.form-control.IssueDetailModal_reCmContent{
  display: inline-block;
  float: right;
  width : 495px;
}

.IssueDetailModal_reCmForm{
  margin-top: 10px;
  display: inline-block;
  width: 100%;

}

.IssueDetailModal_cmTime{
  padding-left: 4px;
  padding-top: 6px;
  display: inline-block;
  float: right;
  width: 85px;
  /* background-color: yellow */
}

.float_right{
  display: inline-block;
  float: right;
}

#taskDetailModal_tDscrForm{
  margin-top: 100px;
}

#taskDetailModal_tNotiConfirmBtn, #taskDetailModal_tDscrBtn, #IssueDetailModal_iDscrBtn{
  display: inline-block;
  margin-top: 5px;
  margin-left: 614px;
  background-color: rgba(33, 99, 33, .7);
  color : white;
}
#taskDetailModal_tNotiConfirmBtn:hover, #taskDetailModal_tDscrBtn:hover, #IssueDetailModal_iDscrBtn:hover{
  background-color: rgba(33, 99, 33, 1);
  color : white;
}

#taskDetailModal_tNotiNameForm{
  display: inline-block;
  float: right;
  width: 530px;
}
