<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.LogDao">

	<insert id="insertLog" parameterType="model.Log">
		insert into log values(
		#{pNum},
		<if test="tNum != null">#{tNum}</if>
		,
		<if test="iNum != null">#{iNum}</if>
		,
		<if test="clNum != null">#{clNum}</if>
		,
		<if test="ciNum != null">#{ciNum}</if>
		,
		<if test="cmNum != null">#{cmNum}</if>
		,
		#{mId},
		(select ifnull(max(l.l_num),0)+1 from log l where p_num =
		#{pNum}),
		#{lCat},
		now(),
		#{lName}
		)
	</insert>

	<select id="selectLogLastLNum" parameterType="int"
		resultType="int">
		select ifnull(max(l_num),0) from log where p_num =
		#{value}
	</select>


	<!-- 프로젝트 로그 조회 -->
	<select id="selectProjectLog" parameterType="int"
		resultMap="logRM">
		select * from log
		where p_num = #{value}
	</select>

	<select id="selectLog" parameterType="log" resultMap="logRM">
		select * from log
		where
		<if test="mId != null">
			m_id = #{mId}
		</if>
		<if test="pNum != null">
			p_num = #{pNum}
		</if>
	</select>

	<insert id="insertLogMember" parameterType="logMember">
		insert into
		log_member values(
		#{pNum},
		#{mId},
		#{lNum}
		)
	</insert>

	<insert id="insertNoti" parameterType="noti">
		insert into noti values(
		#{pNum},
		#{lNum},
		#{mId},
		false
		)
	</insert>

	<update id="updateNoti" parameterType="noti">
		update noti
		<set>
			n_isRead = true
		</set>
		where
		m_id = #{mId}
	</update>

	<select id="selectNoti" parameterType="noti" resultMap="notiMsgRM">
select l.p_num as p_num,
	   p_name,
       l.t_num as t_num,
       t_name,
       l.i_num as i_num,
       i_name,
       l.cl_num as cl_num,
       cl_name,
       l.ci_num as ci_num,
       ci_name,
       l.cm_num as cm_num,
       cm_content,
       l.m_id as m_id,
       m_nickname,
       l.l_num as l_num,
       l_cat,
       l_time,
       n.m_id as l_id,
       n_isRead
 from log l
 left join noti n on l.l_num = n.l_num and l.p_num = n.p_num
 left join project p on l.p_num = p.p_num
 left join task t on  l.p_num = t.p_num and l.t_num = t.t_num
 left join issue i on l.p_num = i.p_num and l.t_num = i.t_num and l.i_num = i.i_num
 left join checkList cl on l.p_num = cl.p_num and l.t_num = cl.t_num and l.i_num = cl.i_num and l.cl_num = cl.cl_num
 left join checkListItem ci on l.p_num = ci.p_num and l.t_num = cl.t_num and l.i_num = cl.i_num and l.cl_num = ci.cl_num and l.ci_num = ci.ci_num
 left join comment cm on l.p_num = cm.p_num and l.t_num = cm.t_num and l.i_num = cm.i_num and l.cm_num = cm.cm_num
 left join member m on l.m_id = m.m_id
		where n.m_id = #{mId};

	</select>

	<!-- 알림 가져오기 -->
	<select id="selectUnreadNoti" parameterType="noti"
		resultMap="notiRM">
		select *
		from noti
		<where>
			m_id = #{mId}
			and n_isRead = 0
		</where>
	</select>


	<resultMap type="log" id="logRM">
		<result property="pNum" column="p_num" />
		<result property="tNum" column="t_num" />
		<result property="iNum" column="i_num" />
		<result property="clNum" column="cl_num" />
		<result property="ciNum" column="ci_num" />
		<result property="cmNum" column="cm_num" />
		<result property="mId" column="m_id" />
		<result property="lNum" column="l_num" />
		<result property="lCat" column="l_cat" />
		<result property="lTime" column="l_time" />
		<result property="lName" column="l_name" />
	</resultMap>

	<resultMap type="noti" id="notiRM">
		<result property="pNum" column="p_num" />
		<result property="lNum" column="l_num" />
		<result property="mId" column="m_id" />
		<result property="nIsRead" column="n_isRead" />
	</resultMap>

	<resultMap type="hashMap" id="notiMsgRM">
		<result property="pNum" column="p_num" />
		<result property="pName" column="p_name" />
		<result property="tNum" column="t_num" />
		<result property="tName" column="t_name" />
		<result property="iNum" column="i_num" />
		<result property="iName" column="i_name" />
		<result property="clNum" column="cl_num" />
		<result property="clName" column="cl_name" />
		<result property="ciNum" column="ci_num" />
		<result property="ciName" column="ci_name" />
		<result property="cmNum" column="cm_num" />
		<result property="cmContent" column="cm_content" />
		<result property="mId" column="m_id" />
		<result property="mNickname" column="m_nickname" />
		<result property="lNum" column="l_num" />
		<result property="lCat" column="l_cat" />
		<result property="lTime" column="l_time" />
		<result property="lId" column="l_id" />
		<result property="nIsRead" column="n_isRead" />
	</resultMap>



</mapper>