<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.LogDao">

	<insert id="insertLog" parameterType="model.Log" >
		insert into log values(
		#{pNum},
		<if test="tNum != null">#{tNum}</if>,
		<if test="iNum != null">#{iNum}</if>,
		<if test="clNum != null">#{clNum}</if>,
		<if test="ciNum != null">#{ciNum}</if>,
		<if test="cmNum != null">#{cmNum}</if>,
		#{mId},
		(select ifnull(max(l.l_num),0)+1 from log l where p_num = #{pNum}),		
		#{lCat},
		now()
		)
	</insert>
	
	<select id="selectLogLastLNum" parameterType="int" resultType="int" >
		select ifnull(max(l_num),0) from log where p_num = #{value}
	</select>
	

	<!-- 프로젝트 로그 조회 -->
	<select id="selectProjectLog" parameterType="int"
		resultMap="logRM">
		select * from log
		where p_num = #{value}
	</select>

	<select id="selectLog" parameterType="log" resultMap="logRM">
		select * from log
		where
		<if test="mId != null">
			m_id = #{mId}
		</if>
		<if test="pNum != null">
			p_num = #{pNum}
		</if>
	</select>

	<insert id="insertLogMember" parameterType="logMember">
		insert into
		log_member values(
		#{pNum},
		#{mId},
		#{lNum}
		)
	</insert>

	<insert id="insertNoti" parameterType="noti">
		insert into noti values(
		#{pNum},
		#{lNum},
		#{mId},
		false
		)
	</insert>

	<update id="updateNoti" parameterType="noti">
		update noti
		<set>
			n_isRead = true
		</set>
		where
		p_num = #{pNum},
		l_num = #{lNum},
		m_id = #{mId}
	</update>

	<select id="selectNoti" parameterType="noti" resultMap="notiRM">
		select *
		from noti
		where
		m_id = #{mId}
	</select>

	<resultMap type="log" id="logRM">
		<result property="pNum" column="p_num" />
		<result property="tNum" column="t_num" />
		<result property="iNum" column="i_num" />
		<result property="clNum" column="cl_num" />
		<result property="ciNum" column="ci_num" />
		<result property="cmNum" column="cm_num" />
		<result property="mId" column="m_id" />
		<result property="lNum" column="l_num" />
		<result property="lCat" column="l_cat" />
		<result property="lTime" column="l_time" />
	</resultMap>

	<resultMap type="noti" id="notiRM">
		<result property="pNum" column="p_num" />
		<result property="lNum" column="l_num" />
		<result property="mId" column="m_id" />
		<result property="nIsRead" column="n_isRead" />
	</resultMap>


</mapper>