<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.MemberDao">

	<resultMap type="member" id="memberMap">
		<result column="m_id" property="mId" />
		<result column="m_pw" property="mPw" />
		<result column="m_email" property="mEmail" />
		<result column="m_nickname" property="mNickname" />
		<result column="m_question" property="mQuestion" />
		<result column="m_answer" property="mAnswer" />
		<result column="m_profile" property="mProfile" />
	</resultMap>

	<resultMap type="address" id="addressMap">
		<result column="m_id" property="mId" />
		<result column="a_id" property="aId" />
	</resultMap>

	<!-- member 관련 start -->
	<!-- insert 영역 -->
	<insert id="insertMember" parameterType="member">
		insert into member
		values(
		#{mId},
		sha(#{mPw}),
		#{mId},
		#{mNickname},
		#{mQuestion},
		#{mAnswer}
		)
	</insert>

	<!-- update영역 -->
	<update id="updatePw" parameterType="member">
		update member
		set m_pw =
		sha(#{mPw})
		where m_id = #{mId}
	</update>
	<update id="updateNickname" parameterType="member">
		update member
		set
		m_nickName = #{mNickname}
		where m_id = #{mId}
	</update>
	<update id="updateProfile" parameterType="member">
		update member
		set
		m_profile = #{mProfile}
		where m_id = #{mId}
	</update>
	<!-- select영역 -->
	<select id="selectByNickname" parameterType="String"
		resultMap="memberMap">
		select *
		from member
		where m_nickname = #{mNickname}
	</select>

	<select id="selectById" parameterType="String"
		resultMap="memberMap">
		select *
		from member
		where m_id = #{mId}
	</select>

	<select id="selectByIdAndPw" parameterType="member"
		resultMap="memberMap">
		select *
		from member
		where m_id = #{mId}
		and m_pw = sha(#{mPw})
	</select>

	<select id="selectMember" resultMap="memberMap">
		select *
		from member
	</select>

	<!-- 키워드로 회원 조회 -->
	<select id="selectMemberByKeyword" parameterType="String"
		resultMap="memberMap">
		select * from member
		where m_id like '%${value}%'
		or
		m_nickname like '%${value}%'
	</select>

	<!-- member 관련 end -->

	<!-- address 관련 start -->

	<insert id="insertAddress" parameterType="address">
		insert into address
		values (#{mId}, #{aId})
	</insert>

	<!-- 주소록 조회 -->
	<select id="selectAddressById" parameterType="String"
		resultMap="memberMap">
		select * from member
		where m_id in ( select a_id from address
		where m_id = #{value} )
	</select>

	<!-- 주소록 회원 삭제 -->
	<delete id="deleteAddress" parameterType="address">
		delete from address
		where m_id = #{mId} and a_id = #{aId}
	</delete>

	<select id="selectAddressMemberBymId_aId"
		parameterType="address" resultMap="addressMap">
		select * from address where m_id =
		#{mId} and a_id = #{aId}
	</select>
	<!-- address 관련 end -->
</mapper>